<div class="container">
    <div class="row">
        <form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

            <div class="form-group">
        <!--        <label class="control-label col-xs-12 col-sm-2">{:__('Content')}:</label>-->
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <textarea id="c-content" class="form-control editor" rows="5" name="row[content]" cols="50">{$row.content|htmlentities}</textarea>
                </div>
            </div>
            <div class="form-group layer-footer">
                <!--<label class="control-label col-xs-12 col-sm-2"></label>-->
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
                    <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
                </div>
            </div>
        </form>
    </div>
</div>
