<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('afterLanguage')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-afterLanguage" data-rule="required" data-source="language/language/index" class="form-control selectpage"  data-field="language_name" data-primary-key="language_id" name="row[afterLanguage]" type="text" value="">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('News_category_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-news_category_id" data-rule="required" data-source="news/news_category/index" data-order-by="id"  data-params='{"isTree":"1","isSpace":"1","custom[language_id]":0}' class="form-control selectpage" name="row[news_category_id]" type="text" value="">
        </div>
    </div>

    
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
