<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Language_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-language_id" data-rule="required" data-source="language/index" class="form-control selectpage" name="row[language_id]" type="text" value="{$row.language_id|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Product_category_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-product_category_id" data-rule="required" data-source="product/category/index" class="form-control selectpage" name="row[product_category_id]" type="text" value="{$row.product_category_id|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Attribute_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-attribute_name" data-rule="required" class="form-control" name="row[attribute_name]" type="text" value="{$row.attribute_name|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Sort')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-sort" class="form-control" name="row[sort]" type="number" value="{$row.sort|htmlentities}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
