<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">



<!--    <div class="form-group">-->
<!--        <label class="control-label col-xs-12 col-sm-2">{:__('Seo_title')}:</label>-->
<!--        <div class="col-xs-12 col-sm-8">-->
<!--            <input id="c-seo_title" class="form-control" name="row[seo_title]" type="text" value="">-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--        <label class="control-label col-xs-12 col-sm-2">{:__('Seo_keywork')}:</label>-->
<!--        <div class="col-xs-12 col-sm-8">-->
<!--            <input id="c-seo_keywork" class="form-control" name="row[seo_keywork]" type="text" value="">-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--        <label class="control-label col-xs-12 col-sm-2">{:__('Seo_description')}:</label>-->
<!--        <div class="col-xs-12 col-sm-8">-->
<!--            <textarea id="c-seo_description" class="form-control " rows="5" name="row[seo_description]" cols="50"></textarea>-->
<!--        </div>-->
<!--    </div>-->



    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Title')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-title" data-rule="required" class="form-control langAr" name="row[title]" type="text" value="">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Product_category')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-product_category" data-rule="required" data-source="product/product_category/treeList" data-order-by="id" data-params='{"isTree":"1","isSpace":"1","custom[language_id]":{$language_id}}' class="form-control selectpage" name="row[product_category]" type="text">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Cover_image')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-cover_image" data-rule="required" class="form-control" size="50" name="row[cover_image]" type="text" value="">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-cover_image" class="btn btn-danger plupload" data-input-id="c-cover_image" data-mimetype="image/gif,image/jpeg,image/png,image/jpg" data-multiple="false" data-preview-id="p-cover_image" data-maxsize="200kb"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-cover_image" class="btn btn-primary fachoose" data-input-id="c-cover_image" data-mimetype="image/gif,image/jpeg,image/png,image/jpg" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-cover_image"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-cover_image"></ul>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Images')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-images" data-rule="required" class="form-control" size="50" name="row[images]" type="text" value="">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-images" class="btn btn-danger plupload" data-input-id="c-images" data-mimetype="image/gif,image/jpeg,image/png,image/jpg" data-multiple="true" data-preview-id="p-images" data-maxsize="200kb"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-images" class="btn btn-primary fachoose" data-input-id="c-images" data-mimetype="image/gif,image/jpeg,image/png,image/jpg" data-multiple="true"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-images"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-images"></ul>
        </div>
    </div>

    <div class="form-group" >
        <label class="control-label col-xs-12 col-sm-2">{:__('Weight')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-weight" data-source="product/category_attribute_relation/selectpage" data-field="attribute_name" data-primary-key="id" data-order-by="weigh" data-page-size="30" data-params='{"custom[language_id]":{$language_id}}'  class="form-control selectpage" name="row[weight]" type="text">
        </div>
    </div>

    <div class="form-group" >
        <label class="control-label col-xs-12 col-sm-2">{:__('Color')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-color" data-source="product/category_color_relation/selectpage" data-field="color_name" data-primary-key="id" data-multiple="true" data-order-by="createtime" data-page-size="30"  data-params='{"custom[language_id]":{$language_id}}'  class="form-control selectpage" name="row[color]" type="text">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Attribute')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-attribute" class="form-control " rows="5" name="row[attribute]" cols="50" style="min-height: 250px;"></textarea>
        </div>
    </div>



    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Hr')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-hr" class="form-control" name="row[hr]" type="text" value="">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('File')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-file" class="form-control" size="50" name="row[file]" type="text" value="">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-file" class="btn btn-danger plupload" data-input-id="c-file" data-mimetype="*" data-multiple="false" data-preview-id="p-file" data-maxsize="300MB"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-file" class="btn btn-primary fachoose" data-input-id="c-file" data-mimetype="*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-file"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-file"></ul>
        </div>
    </div>



    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Added_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-added_time" data-rule="required" class="form-control langArRight datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[added_time]" type="text" value="{:date('Y-m-d H:i:s')}">
        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Views')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-views" class="form-control langAr" name="row[views]" type="number" value="0">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Is_open')}:</label>
        <div class="col-xs-12 col-sm-8">

            <select  id="c-is_open" data-rule="required" class="form-control selectpicker" name="row[is_open]">
                {foreach name="isOpenList" item="vo"}
                <option value="{$key}" {in name="key" value=""}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>




    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Content')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-content" class="form-control editor" rows="5" name="row[content]" cols="50"></textarea>
        </div>
    </div>



    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>

<script>
    var language_id = {$language_id}
</script>
