<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">




    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('afterLanguage')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-afterLanguage" data-rule="required" data-source="language/language/index" class="form-control selectpage"  data-field="language_name" data-primary-key="language_id" name="row[afterLanguage]" type="text" value="">
        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Product_category')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-product_category" data-rule="required" data-source="product/product_category/treeList" data-order-by="id" data-params='{"isTree":"1","isSpace":"1","custom[language_id]":0}' class="form-control selectpage" name="row[product_category]" type="text">
        </div>
    </div>


    <div class="form-group" >
        <label class="control-label col-xs-12 col-sm-2">{:__('Weight')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-weight" data-source="product/category_attribute_relation/selectpage" data-field="attribute_name" data-primary-key="id" data-order-by="weigh" data-page-size="30" data-params='{"custom[language_id]":0}'  class="form-control selectpage" name="row[weight]" type="text">
        </div>
    </div>

    <div class="form-group" >
        <label class="control-label col-xs-12 col-sm-2">{:__('Color')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-color" data-source="product/category_color_relation/selectpage" data-field="color_name" data-primary-key="id" data-multiple="true" data-order-by="createtime" data-page-size="30"  data-params='{"custom[language_id]":0}'  class="form-control selectpage" name="row[color]" type="text">
        </div>
    </div>


    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>

