.news-title {
    font-size: 30px;
    text-align: center;
    color: #214402;
}

@media screen and (min-width:1200px) {
    .news-title {
        padding: 50px 0;
    }

    .container{
        margin-bottom: 50px;
    }

}

@media screen and (max-width:1200px) {
    .news-title {
        padding: 30px 0;
    }
    .container{
        margin-bottom: 50px;
    }

}


.detail-info {
    margin: 15px auto;
    line-height: 45px;
    height: 45px;
    text-align: center;
    background-color: #f2f2f2;
    max-width: 500px;
}

.detail-info span {
    margin: 0 10px;
    color: #9c9c9c;
    font-size: 16px;
}

#content-prev-next {
    margin-bottom: 15px;
    margin-top: 100px;
}

#content-prev-next a {
    cursor: pointer;
    margin-left: 10px;
}

#content-prev-next div {
    font-size: 16px;
    margin: 10px 0;
}

@media screen and (max-width: 768px) {

    .container{
        width: calc(100% - 30px);
        margin-bottom: 15px;
    }

    .news-title {
        font-size: 20px;
        font-weight: 600;
    }

    .row-crumbs{
        width: 100%;
    }
    .crumbs-nav a, .crumbs-nav span{
        font-size: 16px;
    }
    .detail-info{
        height: 35px;
        line-height: 35px;
    }
}

@media screen and (max-width: 400px) {
    .crumbs-nav a, .crumbs-nav span{
        font-size: 13px;
    }

    .detail-info span {
        margin: 0 3px;
        color: #9c9c9c;
        font-size: 12px;
    }
}

