h1,h2,h3,h3,h4,h5,h6{font-weight: normal;}
body{color: #666;background-color: #fff;
    font-family:"微軟正黑體","Microsoft JhengHei";
}
*{-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;   
        box-sizing: border-box;
}
img{max-width: 100%;}
a img{-o-transition:.3s;
-ms-transition:.3s;
-moz-transition:.3s;
-webkit-transition:.3s;
transition:.3s;}
input[type="button"],
input[type="submit"]{cursor: pointer;}
button{cursor: pointer;}
a:hover img{
    opacity: .8;
    -ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity= 80)';
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
}
input[type="button"],input[type="submit"],button{
    -webkit-appearance: none;
}
a{
    color: #004203; font-size:16px;font-weight: normal;font-family: 'MicroSoft YaHei', sans-serif;}
}
a:hover{
    color: #ffffff;font:16px;font-weight:bold;
}
.wp{
    width: 1300px;margin: 0 auto;
}
/*共用*/
.h50{height: 50px;}
.back-top{
    width: 57px;
    height: 57px;
    display: block;
    position: fixed;
    z-index: 24;
    right: 5px;
    bottom: 86px;
    background: url(../images/back-top.png) no-repeat left top;
    display: none;
}
#bd{/*padding-top: 88px;*/position: relative;}
/*头部*/
#hd{
    background-color: #fff;
    position: relative;
    height: 88px;
    border-top: 6px solid #005b8b;
    /*position: fixed;*/
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 25;
}
#hd .logo{
    float: left;
}
#hd .logo img{
    display: block;
    padding-top: 12px;
    
}
.nav{
    padding-top: 8px;
    float: right;
}
.nav li{
    position: relative;
    float: left;

}
.nav li>a{
    display: block;
    font-size: 14px;
    color: #686868;
    padding:20px 26px 20px;
}
.nav li>a:hover{
    color: #005b8b;

    }
.nav li>dl{
    border:1px solid #ddd;
    border-top:none;
    z-index: 4;
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
}
.nav li>dl dd{
    text-align: center;
}
.nav li>dl a{
    font-size: 14px;
    display: block;
    bottom: #404040;
    height: 38px;
    background-color: #fff;
    color: #686868;
    line-height: 40px;
}

.nav .on>a{
    color: #005b8b;
}
.nav li>dl a:hover{
    background-color: #005b8b;
    color: #fff;
}

.nav .search{position: relative;}
.nav .search em{
    margin-right: 13px;
    float: left;
    width: 23px;
    height: 50px;
    background:url(../images/so.png) no-repeat;cursor: pointer;
    }
.nav .ico{
    padding-top: 20px;
    width: 148px;
    margin-left: 12px;
}
.nav .ico .letter-link{
    float: left;
    width: 32px;
    height: 32px;
    background: url(../images/hd-a1.png) no-repeat center top;
    float: left;
}
.nav .ico .letter-link:hover{
    background-image: url(../images/hd-a1-h.png);
}
.nav .ico .letter{
    display: none;
    position: absolute;
    top:73px;
    left: 0;
}
.nav .ico .a2{
    float: left;
    width: 32px;
    height: 32px;
    background: url(../images/hd-a2.png) no-repeat center top;
    float: left;
}
.nav .ico .a2:hover{
    background-image: url(../images/hd-a2-h.png);
}

.nav .search .box{
    position: absolute;
    right:-50px;
    top:54px;
    display: none;
   overflow: hidden;
   width: 230px;
   background: rgba(255,255,255,0.66);
}
.nav .search em.on,
.nav .search em:hover
{
    background-image: url(../images/so-h.png);
}
.nav .search input{
    float: left;
    padding:0 5px;
    width: 200px;
    height: 40px;
    border:1px solid #ccc;
    border-right:0;
    font-family:"微軟正黑體","Microsoft JhengHei";
    background:none;
    color: #fff;
    outline:none;
    text-align: center;
    font-size: 14px;
}
.nav .search input::-webkit-input-placeholder {
   color:#fff;
}

.nav .search input::-moz-placeholder { 
   color:#fff;  
}

.nav .search input::-ms-input-placeholder {  
   color:#fff;  
}

.nav .search button{
    float: right;
    padding:0;
    width: 30px;
    height: 40px;
    background: url(../images/so2.png) no-repeat left center;
    background-size: 15px;
    cursor: pointer;
    border:0;
}
.nav .lan{
    position: relative;
}
.nav .lan em{
    margin-top: 16px;
    display: inline-block;
    width: 50px;
    height: 28px;
    line-height: 28px;
    background-color: #c7c7c7;
    color: #fff;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
}
.nav .lan a{
    color: #fff;
}
.nav .lan em.on,
.nav .lan em:hover{
    background-color: #005b8b;
}
.nav .lan dl{
    position: absolute;
    right:0;
    top:48px;
    display: none;
    width: 120px;
    padding:5px 10px;
    background:#f7f8fa;
    border:1px solid #888;
    text-align: right;
}
.nav .lan dl:after{
    content:'';
    position: absolute;
    right:15px;top:-6px;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    border-bottom:5px solid #888;}
.nav .lan dl a{
    margin:5px 0;
    font-size: 14px;
}
/*手机按钮*/
.menu-m{
    position: fixed;
    right:10px;
    z-index: 999;
    display: none;
    top: 29px;
    /*top:50%;*/
    /*margin-top: -13px;*/
    height: 50px;
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;
    text-align: right;
}
.menu-m em{position: relative;display: block;
    width: 28px;height: 4px;margin:4px 0;background:#005b8b;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;}
.menu-m.translate .em1{
    top:10px;
    transform:rotate(40deg);
    -ms-transform:rotate(40deg);
    -moz-transform:rotate(40deg);
    -webkit-transform:rotate(40deg);
    -o-transform:rotate(40deg);
}
.menu-m.translate .em2{
    opacity: 0;
    transform:rotate(-90deg);
    -ms-transform:rotate(-90deg);
    -moz-transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
    -o-transform:rotate(-90deg);
}
.menu-m.translate .em3{
    top:-7px;
    transform:rotate(-40deg);
    -ms-transform:rotate(-40deg);
    -moz-transform:rotate(-40deg);
    -webkit-transform:rotate(-40deg);
    -o-transform:rotate(-40deg);
}
    /*手机导航*/
    .menu-ul-nav{
        -o-transition:all .3s ease-in-out ; 
        -ms-transition:all .3s ease-in-out;
        -moz-transition:all .3s ease-in-out;
        -webkit-transition:all .3s ease-in-out;
        transition:all .3s ease-in-out;
        width: 460px;
        border-top:2px solid #005b8b;
        top: -1px;
        z-index: 9999;
        height: 100%;
        background-color: #fff;
        position: fixed;
        top: -1px;
        width: 80%;
        right:0;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        display: none;
    }
    .menu-ul-nav{transform: translateX(100%) ;-webkit-transform: translateX(100%);}
    .menu-ul-nav.ok2{transform: translateX(0%) ;-webkit-transform: translateX(0%);}
    .menu-m.translate{right:85%;}
    .menu-ul-nav .search input{
        padding-left: 35px;
        border:none;
        float: right;
        width: 100%;
        height: 30px;
        font-family: "微軟正黑體","Microsoft JhengHei";
        background: url(../images/so2.png) no-repeat 10px center;
        background-color: #005b8b;
        color: #fff;
        outline:none;
    }
    .menu-ul-nav .search input::-webkit-input-placeholder {
        color: #fff;
    }
    
    .menu-ul-nav .search input::-moz-placeholder { 
        color: #fff;
    }
    
    .menu-ul-nav .search input::-ms-input-placeholder {  
        color: #fff;
    }
    .menu-ul-nav .search{
        padding: 30px 34px 20px 18px;
        height: 88px;
        background-color: #fff;
        position: relative;
        overflow: hidden;
        background-color: #404f58;
    }
    .menu-ul-nav .in-link{
        display: none;
    }
    .menu-ul-nav dd{

        overflow: hidden;
    }
    .menu-ul-nav .in-link dd a{
        font-size: 14px;
        line-height: 30px;
        background-color: #d3d2d2;
        color: #686868;
        display: block;
    }
    .menu-ul-nav .in-link dd a:before{
        content:">";
    }
    .menu-ul-nav .b1{
        background: url(../images/m_ico1.png) no-repeat 90% center;
    }
    .menu-ul-nav .b1.ok{
        background-image:none;
        color: #005b8b;
    }
    .menu-ul-nav a{
        padding-left: 30px;
        line-height: 40px;
        text-align: left;
        display: block;
        font-size: 14px;
        background-color: #fff;
        border-bottom:1px solid #ddd;

    }
   .menu-ul-nav .eject{
        margin-right: 100px;
        width: 100%;
        text-align: center;
        display: block;
        height: 30px;
        background:url(../images/so.png) no-repeat center center #fff;
    }

    
    .menu-ul-nav .lag{padding-left: 30px;padding-top: 10px;}
    .menu-ul-nav .lag a{display: inline-block;width: 72px;height: 25px;border: 1px solid #005b8b;text-align: center;line-height: 23px;font-size: 14px;padding-left: 0;color: #005b8b;}

/*底部*/
#fd{}
#fd .top{
    padding-top: 50px;
    padding-top: 50px;
    background-color: #005b8b;
    height: 320px;
}
#fd .top dt{
    font-size: 18px;
    color: #fff;
    margin-bottom: 8px;


}
#fd .top dd a{
    color: #89c3d0;
    font-size: 14px;
    line-height: 30px;

}
#fd .top dl{
    float: left;
    margin-right: 140px;
    
}
#fd .btm{
    padding-top: 33px;
    color: #bebebe;
    height: 182px;
    background-color: #404f58;

}
#fd .btm-l{
    float: left;
}
#fd .btm-c{
    float: left;
    padding-top: 25px;
}
#fd .btm strong{
    font-size: 18px;
}

#fd .btm p{
    line-height: 22px;

}

#fd .btm p span{
    width: 433px;
    display: inline-block;
}
#fd .btm-c p span{
    width: auto;
} 

#fd .btm-r{
    float: right;

}

#fd .btm-r img{
    float: right;

}

#fd .btm-r span{
    float: right;
    padding-top: 32px;

}
#fd .btm-r em{
    padding-top: 8px;
    display: block;
    clear: both;
    color: #656f76; 
}
#fd .btm-r a{
    color: #656f76;
}
#fd .btm-r a:hover{
    color: #656f76;
}
/*loading*/
.loading{position: fixed;left:0;top:0;width: 100%;height: 100%;z-index: 999;background:url(../images/loading.png) #fff no-repeat center center;text-align: center;}

body{overflow-x: hidden;width: 100%;}

div::selection {
    background:none;
}

div::-moz-selection {
    background:none;
}

div::-webkit-selection {
    background:none;
}