.container-content{
	text-align: center;
	text-align: -webkit-center;
}
.row-content{
	width: 80%;
	/* padding-top: 15px; */
	padding-bottom: 50px;
}

.row-crumbs{
	width: 80%;
	padding: 20px 0;
}
.crumbs-nav a , .crumbs-nav span{font-size: 16px;color: #4a4a4a;}
.crumbs-nav a:hover{cursor: pointer;color: #008000;}
.crumbs-title{}

.top-img img {
    width: 100%;
    height: 270px;
    max-height: 270px;
}



.left-transparent{
	float: left;
	width: 0px;
	height: 0px;
	margin: 25px 0;
	display: inline-block;
	border: 5px solid #4a4a4a;
	border-left-color:#4a4a4a;
	border-right-color:transparent;
	border-bottom-color:transparent;
	border-top-color:transparent;
}

#firstpane li:hover .left-transparent{
	border-left-color:#008000;
}

#firstpane li.selected a{
	color: #008000;
}
#firstpane li.selected .left-transparent{
	color: #008000;
	border-left-color:#008000;
}



.news_two{
	position: relative;
	    font-size: 12px;
	    font-family: Arial, 微软雅黑;
	    width: 100%;
	    min-width: 1100px;
	    margin: 0px auto;
}

.news_two_ul{
	    height: auto;
	    overflow: hidden;
	    padding: 20px;
		padding-top: 0;
}

.news_two_ul li{
	    width: 100%;
	    height: 189px;
	    border: 1px solid transparent;
	    margin-bottom: 20px;
}

.news_two_box {
    width: 100%;
    height: 189px;
    border: 1px solid transparent;
    position: relative;
    background: #f7f7f7;
    transition: all .6s cubic-bezier(.215, .61, .355, 1) 0s;
    box-shadow: 0 0 black;
}

.news_two_box:hover {
    border: 1px solid #efefef;
    box-shadow: 0 6px 10px 5px rgba(0, 0, 0, .08);
}

.news_two_ul li:hover .ser_but {
    color: #fff;
}

.news_two_box:hover .news_two_txt {
    margin: 36px 0 28px 54px;
}
.news_two_box:hover .news_two_txt span {
    color: #333;
}

.news_two_box:hover .news_two_date {
    padding: 36px 43px 0 0;
}

.news_two_box:hover .ser_but {
    background: #7ecb27;
    border: 1px solid #ccc;
    margin: 0 -1 0px;
}

.news_two_txt {
    width: 58%;
    float: left;
	text-align: left;
    margin: 36px 0 28px 34px;
    transition: all .3s ease-out 0s;
}

.news_two_txt span {
    font-size: 20px;
    color: #008000;
    display: block;
    height: 24px;
    overflow: hidden;
    margin-bottom: 20px;
    transition: all .3s ease-out 0s;
}

.news_two_txt i {
    height: 52px;
    color: #A2A2A2;
    line-height: 24px;
    display: block;
    overflow: hidden;
	font-style: unset;
	font-size: 14px;
    transition: all .3s ease-out 0s;
}

.news_two a {
    color: #888;
    text-decoration: none;
}

.news_two_img {
    width: 247px;
    height: 157px;
    float: left;
    transition: all .6s cubic-bezier(.215, .61, .355, 1) 0s;
}

.news_two_img img {
    width: 230px;
    height: 160px;
    margin: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}


.news_two_date {
    float: right;
    color: #999;
    padding: 30px 30px 0 0;
    transition: all .3s ease-out 0s;
}

.news_two_date span {
    height: 26px;
    font-size: 19px;
}



.ser_but {
    position: absolute;
    top: 72px;
    right: 50px;
    width: 70px;
    height: 35px;
    border-radius: 18px;
    text-align: center;
    border: 1px solid #dedfe1;
    transition: all .5s cubic-bezier(.215, .61, .355, 1) 0s;
}

.news_two_but {
    position: absolute;
    top: 100px;
}

.ser_but i {
    width: 70px;
    height: 35px;
    line-height: 35px;
    transition: all 0.3s;
}

.crumbs-nav{
	text-align: left;
}


@media screen and (max-width: 768px) {
    .top-img img {
        height: 200px;
    }
}




