﻿@media only screen and (min-width: 1200px) and (max-height: 800px) {
    /*******************************
        -------[=西瓜]-------
    ********************************/
    /*首页*/
    /*.banner-slide .txt{top:10%;}*/

}
@media only screen and (min-width: 1200px) and (max-height: 670px) {
    /*******************************
        -------[=西瓜]-------
    ********************************/
    /*首页*/
    /*.banner-slide .txt{top:10%;}*/
    .banner-slide .txt p{display: none;}
    .g-txt3{padding: 20px 0;}
    .g-txt3 p{line-height: 1.5;letter-spacing: 0;margin-bottom: 10px;}

}

@media only screen and (max-width: 1299px) {
    .wp {width: 98%;}

    /*******************************
        -------[=榴莲]-------
    ********************************/
    .ul-m1-l li em{margin-left: 0;}
    .ul-m1-l li .txt2 em{min-width: auto;}
    .ul-m1-l li p{line-height: 22px;font-size: 12px;}
    .ul-m1-l li .txt{padding-left: 100px;}
    .ul-m1-l li .img{margin-left: 10px;}
    .list-ul-l li p{font-size: 12px;line-height: 20px;}
    .ul-imgtxt-l .txt{padding:0 10px;width: 450px;}
    .ul-imgtxt-l h3{font-size: 22px;margin-bottom: 5px;padding-top: 97px;
        background-size: auto 80px;}
    .ul-imgtxt-l li,
    .ul-imgtxt-l .txt{height: 450px;}
    .ul-imgtxt-l p{line-height: 24px;}
    /*6-2加入大亚-社会招聘*/
    .pop{width: 80%;margin: 0 10%;}

    /*******************************
        -------[=西瓜]-------
    ********************************/
    /*首页*/
    .ul-pic1 li .txt img{margin-right: 20px;}
    .ul-pic1 li .txt span{width: 260px;}
}




/*Common For Max 960*/
@media only screen and (max-width: 1199px) {
    /*******************************
        -------[=桔子]-------
    ********************************/
    /*头部*/
    .nav li>a{padding: 20px 13px;}
    .nav .ico{margin-left: 20px;}
    .nav .ico .a2{margin-left: 21px;}

    /*底部*/
    #fd .top dl{margin: 0;width: 20%;text-align: center;}
    #fd .btm{height: auto;padding: 30px 20px 10px 20px;}
    #fd .btm-l span{display: block;}
    #fd .btm-r{float: none;width: 100%;text-align: center;}
    #fd .btm-r img{display: none;}
    #fd .btm-r span{display: none;}
    #fd .btm-r em{text-align: right;}

    /*******************************
        -------[=榴莲]-------
    ********************************/
    .l-History .date{width: 145px;font-size: 16px;}
    .l-History .txt{padding-left: 210px;}
    .l-History ul:after{left:175px;}
    .l-History ul .line{left:175px;}
    .l-History li:after{left:164px;}
    .list-ul-l li .img{width: 160px;height: 160px;}
    .list-ul-l li .txt{padding-left: 169px;}
    .list-ul-l li p{height: 120px;}
    .l-slide p{font-size: 12px;line-height: 20px;}

    /*******************************
        -------[=西瓜]-------
    ********************************/
    /*首页*/
    .banner-slide .txt{top:60%;}
    .banner-logo{position: static;width: 100%;margin: 0;background: #005b8b;padding: 30px 0 80px 0;}
    .ul-pic1 li{width: 50%;}
    .ul-pic2 li{width: 50%;}

    /* 2016/5/11 */
    #op1{width: 90%;height: 400px;margin:-200px 0 0 0;left:5%;}
    .box-pop{height: 350px;}
}



/*Common For Max 768*/
@media only screen and (max-width: 959px) {
    /*******************************
        -------[=桔子]-------
    ********************************/
    /*头部*/
    #hd{position: fixed;-o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;}
    .nav{display: none;}
    #video{height:100%;}
    

    /*手机头部*/
    .menu-ul-nav{display: block;}
    /*.menu-m.translate{right: 120px;}*/
    #hd.on{transform:translate(-240px,0);
   -webkit-transform:translate(-240px,0);
      -moz-transform:translate(-240px,0);
        -o-transform:translate(-240px,0);
       -ms-transform:translate(-240px,0);
   }
    .menu-m{display: block;right:10px;}
    /*.menuOpen.translate{right: 365px;}*/
    .block.on{
        z-index: 22;
        position: fixed;
        left: 0;
        top: 88px;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.5);
    }
    
    /*3-1新闻中心-列表*/
    .layout{padding-top: 20px;}
    .ul-txt-box{text-align: center;}
    .ul-txt-j1 li{margin-bottom: 0;display: inline-block;float: none;padding: 0 5px;}
    .ul-txt-j1{border:none;display: inline-block;}
    .ul-txt-j1 a{border:1px solid #dcdcdc;}
    /*6-2加入大亚-社会招聘*/
    .table{padding-top: 20px;}
    .table th{font-size: 16px;}
    .table td{font-size: 12px;}



    /*******************************
        -------[=榴莲]-------
    ********************************/
    .ul-img-l{display: none;}
    .ul-m1-l:first-child{margin-top: 30px;}
    .ul-m1-l li{width: 50%;margin-bottom: 20px;}
    .ul-m1-l{padding:0;}
    .l-History ul{padding-right: 20px;}
    .l-History dl{margin-left: -10px;}
    .l-History dd .box{margin-left: 10px;}
    .l-slide{padding-left: 210px;background-size: auto 200px;}
    .l-slide .txt{margin-bottom: 0;}

    .ul-imgtxt-l li{height: auto;width: auto;}
    .ul-imgtxt-l .txt{width: auto;padding:20px 10px;}
    .ul-imgtxt-l li .box,
    .ul-imgtxt-l li .txt{float: none;width: 100%;height: auto;}
    .ul-imgtxt-l li .item,
    .ul-imgtxt-l .item div{display: block;}
    .ul-imgtxt-l .img{display: block;padding-top: 55%;}

    /*******************************
        -------[=西瓜]-------
    ********************************/
    /*首页*/
    .ul-team li .txt{padding: 20px;}
    .m-management{padding-bottom: 0;}
    #banner{height: 100%;}

    /*集团介绍*/
    .in-tit{width: 100%;font-size: 20px;height: 75px;margin-top: -75px;}
    .in-tit span{font-size: 14px;}
    .in-tit i{width: 200px;left:0;}
    .video-txt p{font-size: 18px;}
    .ul-txt1 {padding: 0 10px;}
    .ul-txt1 li{width: 100%;margin-bottom: 10px;}
    .jt-down{display: none;}
    .g-txt2 p{font-size: 16px;}
    .ul-txt1{display: block !important;}
    .video-close{top:88px;}

    /*.m-transformation{height: 100%;}*/
    .banner-slide .txt{top:50%;transform:translateY(-45%);-webkit-transform:translateY(-45%);}
    .banner-slide .slick-current .txt{opacity:1;transform: translateY(-50%);}
    .m-transformation{padding: 188px 10px 100px 10px;}
    
    .back-top{width: 40px;height: 40px;background-size: 40px 40px;}
    /*#fd .btm{height: auto;padding:20px 45px;}*/

}



/*Common For Max 480*/
@media only screen and (max-width: 767px) {
    .wp {width: 100%;}
    .video-txt p{
        letter-spacing: 2px;
    }

    
    /*******************************
        -------[=桔子]-------
    ********************************/
    /*底部*/
    #fd{position: relative;}
    #fd .btm{
        height: 291px;
        background-color: #005b8b;
        padding-top: 25px;
        padding-left: 15px;
        color: #fff;
        text-align: left;
    }
    #fd .btm p{}
    #fd .btm strong{font-size: 16px;}
    #fd .btm-l{font-size: 12px;text-align: left;}
    #fd .btm-c{font-size: 12px;}
    #fd .top{display: none;}
    #fd .btm-r em{
        display: block;
        padding: 10px 0;
        color: #535353;
        font-size: 12px;
        background-color: #fff;
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;

    }
    /*3-1新闻中心-列表*/
    .ul-txt-j1{
        display: inline-block;
        overflow: hidden;
    }
    .txt-j2 li{width: 50%;  }

    .ul-pic-j1 li{width: 50%;}
    /*6-2加入大亚-社会招聘*/
    .table table .m-hide{display: none;}
    .table2 th, .table2 td, .table3 th, .table3 td{padding-left: 0;text-align: center;}
    .table2,.table3{overflow-x: scroll;}
    .table2 table,.table3 table{min-width: 600px;}



    /*******************************
        -------[=榴莲]-------
    ********************************/
    .ul-m1-l ul{margin-left: -5px;}
    .ul-m1-l li .box{margin-left: 5px;}
    .ul-m1-l li .txt{padding-left: 88px;}
    .ul-img-l li{width: 50%;}

    .l-History h3{padding-bottom: 5px;}
    .l-History h3 a{font-size: 16px;}
    .l-History p{font-size: 12px;line-height: 22px;}
    .l-History dd{width: 33.3%;}
    .l-History li{margin-bottom: 22px;}
    .l-History{padding:50px 0;}
    .list-ul-l li{width: 100%;}
    .l-management{padding:30px 0;}
    .list-ul-l ul{padding-top: 20px;}
    .ul-imgtxt-l p br{display: none;}
    /*6-3加入大亚-校园招聘*/
    .txt-j3{padding-top: 10px;}

    /*******************************
        -------[=西瓜]-------
    ********************************/
    /*首页*/
    .banner-slide .txt{width: 90%;left:5%;top:50%;margin: 0;transform:translateY(-45%);-webkit-transform:translateY(-45%);}
    .banner-slide .slick-current .txt{opacity:1;transform: translateY(-50%);}
    .banner-slide .txt h2{font-size: 24px;}
    .banner-slide .txt h3{font-size: 16px;}
    .banner-slide .txt p{font-size: 12px;}
    .banner-logo h4:before{width:40%;}
    .banner-logo h4:after{width:40%;}
    .ul-pic1 li{width: 100%;}
    .ul-team li .pic{width: 100%;height:auto;}
    .ul-team li .pic img{width: 100%;height:auto;position: static;transform: translateX(0);-webkit-transform: translateX(0);display: block;}
    .ul-team li .txt{width: 100%;padding: 50px;height: auto;}

    /*集团介绍*/
    .video-txt p{font-size: 16px;}
    .video-play{font-size: 12px;background-size: 75px 75px;padding-top: 90px;}
    .ul-pic1 li .m-txt{display: block;line-height: 2;}
    .ul-pic1 li:last-child .m-txt{margin-bottom: 0;}
    .showtxt{display: none !important;}
    
 /*   #fd .btm{padding: 15px 10px;}
    #fd .btm-l{float: left;text-align: left;}
    #fd .btm-c{float: left;text-align: left;}
    #fd .btm-r em{text-align: left;padding-left: 10px;}*/


}

@media only screen and (max-width: 600px) {
    /*******************************
        -------[=榴莲]-------
    ********************************/
    .ul-m1-l li .img{float: none;margin:10px auto 0;
        -webkit-background-size: 40px auto;
        -o-background-size: 40px auto;
        -moz-background-size: 40px auto;
        background-size: 40px auto;}
    .ul-m1-l li .txt{padding: 0 5px;text-align: center;}
    .ul-m1-l li h3{font-size: 14px;margin-bottom: 5px;}
    .l-History ul{padding:0 10px 0 40px;}
    .l-History .date{float: none;text-align: left;width: auto;}
    .l-History .txt{padding-left: 0;}
    .l-History ul:after{left:15px;}
    .l-History ul .line{left:15px;}
    .l-History li:after{left:-35px;}
    .l-History dd{margin-top: 10px;}
    .list-ul-l li .img{width: 80px;height: 80px;}
    .list-ul-l li .txt{padding-left: 89px;}
    .list-ul-l li h3{font-size: 18px;margin-top: -3px;}
    .list-ul-l li .txt p{height: 60px;}
    .list-ul-l li .box{padding:10px;}
    .l-management .hd strong{font-size: 20px;}
    .l-management .hd p{margin-top: 3px;line-height: 24px;font-size: 12px;}
    .l-slide{padding:220px 10px 20px 10px;background-position: center top;}
    .l-slide .txt{height: auto;margin-bottom: 10px;}
    .ul-imgtxt-l h3{padding-top: 70px;font-size: 18px;
        background-size: auto 50px;}
    .ul-imgtxt-l p{font-size: 12px;}
    #fd .btm-r em{text-align: center;}

}

/*Common For Max 320*/
@media only screen and (max-width: 479px) {
    /*******************************
        -------[=桔子]-------
    ********************************/

    .h50{height: 20px;}
    /*头部*/
    /*#hd.on{right: -80%;}*/
    #hd{border-top:none;}
    #hd .logo{margin-left: 8px;}
    #hd .logo img{height: 46px;padding-top: 5px;}
    #hd{position: fixed;left: 0;top: 0;width: 100%;z-index: 25;background-color: #fff;height: 52px;}
    /*#bd{padding-top: 52px;}*/
    .nav{top: 52px;}
    /*.container.menuOpen{left: -80%;}*/
    .menu-ul-nav .search{padding: 9px 10px ;height: 51px;}
    /*.menu-ul-nav.ok2{right: 0;}*/
    .menu-m{top: 12px;}
    /*.menu-m.translate{top: 9px;}*/
    .block.on{top: 43px;}
    /*.menu-m.translate{right: 366px;}*/
    /*底部*/
    #fd .btm{height: auto;overflow: hidden;padding-bottom: 70px;}
    #fd .btm strong{font-size: 14px;}
    #fd .btm p{line-height: 14px;}
    #fd .btm-c{padding-top: 14px;}
    #fd .btm p span{
        font-size: 12px;
        width: auto;
    }
    /*3-1新闻中心-列表*/
    .ul-txt-j1 a{padding: 0 20px;height: 30px;line-height: 30px;font-size: 14px;}
    .ul-pic-j1 li{width: 100%;margin-bottom: 20px;}
    .ul-pic-j1 .txt{padding-bottom: 5px;}
    .ul-pic-j1 h5{line-height: 35px;}
    .ul-txt-j1{margin-bottom: 20px;}
    .page a{width: 30px;line-height: 30px;height: 30px;}
    /*新闻中心-详情*/
    .tit-j1 h2{font-size: 18px;margin-bottom: 10px;}
    .txt-j2 p{line-height: 24px;}
    .txt-j2{padding-top: 10px;}
    .txt-j2 .img{padding: 10px 0;}

    .pop{width: 90%;margin: 0 5%;top: 68px;height: 83%;padding: 18px;}
    .pop .send{font-size: 14px;left:20px;bottom:20px;}
    .pop strong{font-size: 18px;}
    .pop h5{font-size: 14px;}
    .pop li{font-size: 12px;}
    .pop .icon_btn{
        width: 30px;
        height: 30px;
        -webkit-background-size: 30px 30px;
           -moz-background-size: 30px 30px;
             -o-background-size: 30px 30px;
                background-size: 30px 30px;
    }
    /*6-2加入大亚-社会招聘*/
    .table{padding-top: 0;margin-bottom: 32px;}
    .table th{font-size: 16px;height: 35px;font-weight: normal;}
    .table td{font-size: 12px;height: 35px;}
    .txt-j3{padding-top: 0;}
    .txt-j3 h3{font-size: 18px;}
    .txt-j3 p{line-height: 24px;margin-bottom: 10px;line-height: 22px;}
    .tit-j4{font-size: 16px;}
    .tit-j2{margin-bottom: 10px;}
    .tit-j4{margin-bottom: 10px;}

     /*******************************
         -------[=榴莲]-------
     ********************************/
     .ul-m1-l li {width: 100%;}
     .ul-m1-l li .box{margin:0 10px;padding-bottom: 20px;
        height: auto;}
    .ban-l{padding-top: 52px;}

    /*******************************
        -------[=西瓜]-------
    ********************************/
    /*首页*/
    .banner-logo h4:before{width:35%;}
    .banner-logo h4:after{width:35%;}
    .ul-logo{margin: 0 20px;}
    .g-tit1{padding: 30px 0 20px 0;}
    .g-tit1 span{font-size: 18px;}
    .g-tit1 b{font-size: 26px;}
    .g-tit1 em{font-size: 20px;}
    .ul-team li .txt{width: 100%;padding: 15px;}
    .ul-team li .txt h4{margin-bottom: 10px;}
    .ul-team li .txt h4 b{font-size: 24px;}
    .ul-pic2 li .txt h4{font-size: 14px;}
    .ul-pic2 li .txt em{margin-left: 10px;}
    .ul-team li .txt p{font-size: 12px;line-height: 1.6;}
    .m-transformation .tit{margin-bottom: 30px;}
    .m-transformation .tit img{margin-right: 20px;max-height: 65px;}
    .m-transformation .tit span{width: 260px;}
    /*.g-txt3{padding:  0 10px;}*/
    .m-transformation .tit span{height:68px;}
    .g-txt3{padding-top: 0;}
    .g-txt3 p{line-height: 1.4;}
    /*.ul-pic3{display: none;}*/
    .ul-pic3 li{width: 50%;}

    /*集团介绍*/
    .g-txt1{padding: 30px 0;}
    .g-txt1 p{line-height: 1.6;letter-spacing: 0;}
    .g-txt2{padding-bottom: 30px;}
    .g-txt2 p{font-size: 14px;}
    .ul-txt1 li .box{height: 80px;}
    .ul-txt1 li .pic{width: 100px;height: 80px;line-height: 80px;}
    .ul-txt1 li .txt{padding:17px 0 0 100px;}
    .ul-txt1 li .pic img{margin-left: 20px;}
    .ul-txt1 li .txt h4,.ul-txt1 li .txt p{font-size: 12px;}
    .m-honor{padding-bottom: 30px;}
    .showtxt{padding: 20px 0;}
    .showtxt p{line-height: 1.6;letter-spacing: 0;}
    .video-close{top:52px;}
    .menu-ul-nav a{font-size: 14px !important;}
    
    .m-transformation{padding: 102px 10px 50px 10px;}
    .m-transformation2 .dots{margin:20px 0 0 10px;}
    
    /* 2016/5/11 */
    .box-pop{height: 85%;overflow: auto;}
    #op1{width: 100%;height: 100%;margin:0;left:0;top:0;}

    .txt-j2{padding-bottom: 50px;}

}

