/******************************
    -------[=西瓜]-------
********************************/


/*=====首页=====*/


/*banner*/

html,
body {
    height: 100%;
    position: relative;
}

body {
    overflow-x: hidden;
}

#banner {
    height: calc(100% - 88px);
    position: relative;
}

.banner-slide,
.banner-slide .slick-list,
.banner-slide .slick-track,
.banner-slide .item {
    height: 100%;
}

.banner-slide .item {
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    position: relative;
}

.banner-slide .item .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: url(../images/ban-bg.png);
}

.banner-slide .txt {
    opacity: 0;
    transform: translateY(50px);
    -o-transition: .5s 1s;
    -ms-transition: .5s 1s;
    -moz-transition: .5s 1s;
    -webkit-transition: .5s 1s;
    transition: .5s 1s;
}

.banner-slide .slick-current .txt {
    opacity: 1;
    transform: translateY(-100%);
}

.banner-slide .txt {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-105%);
    -webkit-transform: translateY(-105%);
    width: 640px;
    margin-left: -320px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    z-index: 99;
}


/*.banner-slide .txt{position: absolute;left:50%;top:24%;width: 640px;margin-left: -320px;color: #fff;font-size: 14px;text-align: center;z-index: 99;}*/

.banner-slide .txt h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
    letter-spacing: 5px;
}

.banner-slide .txt h3 {
    font-size: 24px;
    margin-bottom: 15px;
}

.banner-slide .txt p {
    line-height: 2.2;
}

.banner-slide .txt .more {
    margin-top: 40px;
}

.banner-slide .txt .more a {
    width: 200px;
    height: 46px;
    line-height: 40px;
    text-align: center;
    border: 2px solid #fff;
    display: inline-block;
    font-size: 24px;
    color: #fff;
}

.banner-slide .txt .more a span {
    display: inline-block;
    padding-right: 45px;
    background: url(../images/ico-jtr.png) no-repeat right center;
}

.banner-slide .txt .more a:hover {
    border-color: #055219;
    background: #055219;
}

.banner-slide .slick-dots {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 40px;
    text-align: center;
}

.banner-slide .slick-dots li {
    width: 16px;
    height: 16px;
    margin: 0 3px;
    display: inline-block;
    float: none;
}

.banner-slide .slick-dots li button {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    padding: 0;
    background: #fff;
    outline: none;
    border: none;
    font-size: 0;
    line-height: 0;
}

.banner-slide .slick-dots li.slick-active button {
    background: #055219;
}

.banner-slide .slick-arrow {
    position: absolute;
    width: 30px;
    height: 51px;
    top: 50%;
    margin-top: -25px;
    z-index: 99;
    border: none;
    outline: none;
    font-size: 0;
    line-height: 0;
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    transition: .3s;
}

.banner-slide .slick-prev {
    left: 70px;
    background: url(../images/banner_l.png) no-repeat left top;
    margin-left: -100px;
}

.banner-slide .slick-prev:hover {
    background-image: url(../images/banner_la.png);
}

.banner-slide .slick-next {
    right: 70px;
    background: url(../images/banner_r.png) no-repeat left top;
    margin-right: -100px;
}

.banner-slide .slick-next:hover {
    background-image: url(../images/banner_ra.png);
}

.banner-slide:hover .slick-prev {
    margin-left: 0;
}

.banner-slide:hover .slick-next {
    margin-right: 0;
}

.banner-logo {
    position: absolute;
    left: 50%;
    bottom: 50px;
    width: 800px;
    margin-left: -400px;
}

.banner-logo h4 {
    font-size: 14px;
    height: 35px;
    line-height: 35px;
    position: relative;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}

.banner-logo h4:before {
    content: "";
    position: absolute;
    width: 325px;
    left: 0;
    top: 50%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.banner-logo h4:after {
    content: "";
    position: absolute;
    width: 325px;
    right: 0;
    top: 50%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.banner-logo .slick-dots {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -50px;
    text-align: center;
}

.banner-logo .slick-dots li {
    width: 16px;
    height: 16px;
    margin: 0 3px;
    display: inline-block;
    float: none;
}

.banner-logo .slick-dots li button {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    padding: 0;
    background: #fff;
    outline: none;
    border: none;
    font-size: 0;
    line-height: 0;
}

.banner-logo .slick-dots li.slick-active button {
    background: #404f58;
}

.ul-logo li {
    float: left;
    width: 20%;
    text-align: center;
}

.ul-logo * {
    outline: none;
}

.ul-logo li img {
    display: inline-block;
}

.ul-logo li a {
    display: block;
}


/*标题*/

.g-tit1 {
    text-align: center;
    padding: 75px 0 50px 0;
    overflow: hidden;
}

.g-tit1 span {
    font-size: 30px;
    font-family: "Arial";
    color: #e6e6e6;
    line-height: 1em;
    text-transform: uppercase;
}

.g-tit1 b {
    font-size: 48px;
    font-family: "Arial";
    color: #e6e6e6;
    line-height: 1em;
    text-transform: uppercase;
}

.g-tit1 em {
    font-size: 24px;
    color: #055219;
    display: inline-block;
    padding-top: 10px;
}

.g-tit1 em:after {
    content: "";
    width: 55px;
    border-bottom: 1px solid #055219;
    display: block;
    margin: 5px auto 0 auto;
}

.g-tit2 span {
    color: rgba(230, 230, 230, 0.5);
}

.g-tit2 b {
    color: rgba(230, 230, 230, 0.5);
}

.g-tit2 em {
    color: #fff;
}

.g-tit2 em:after {
    border-color: #fff;
}


/*列表*/

.ul-pic1 li {
    width: 25%;
    float: left;
}

.ul-pic1 li a {
    position: relative;
    display: block;
}

.ul-pic1 li .pic {
    height: 0;
    padding-top: 81.6%;
    position: relative;
    overflow: hidden;
}

.ul-pic1 li .pic img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.ul-pic1 li:hover .pic img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    transform-origin: 50% 50%;
}

.ul-pic1 li .txt {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
}

.ul-pic1 li .txt span {
    display: block;
    width: 300px;
    height: 92px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    text-transform: uppercase;
    font-size: 18px;
}

.ul-pic1 li .txt img {
    float: left;
    margin-right: 50px;
}

.ul-pic1 li .txt em {
    float: left;
    width: 150px;
}

.ul-pic1 li .txt b {
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 5px;
}

.ul-pic1 li .txt i {
    display: block;
    width: 150px;
    border-bottom: 1px solid #fff;
    margin: 6px 0;
}

.ul-pic1 li .m-txt {
    padding: 15px 10px;
    background-color: #415058;
    overflow: hidden;
    color: #fff;
    display: none;
}

.ul-pic1 li:hover .txt,
.ul-pic1 li.on .txt {
    background: rgba(0, 91, 139, 0.7);
}

.m-news {
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    overflow: hidden;
    padding-bottom: 147px;
}


/*.ul-pic2{margin-left: -40px;}*/

.ul-pic2 li {
    width: 33.33%;
    float: left;
}

.ul-pic2 li a {
    display: block;
    margin: 0 20px;
    border: 1px solid #fff;
}

.ul-pic2 li .pic {
    height: 0;
    padding-top: 69.5%;
    position: relative;
    overflow: hidden;
}

.ul-pic2 li .pic img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.ul-pic2 li:hover .pic img {
    opacity: 1;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    transform-origin: 50% 50%;
}

.ul-pic2 li .txt {
    background: #fff;
    text-align: center;
    height: 105px;
    padding: 15px 0 0 0;
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    transition: .3s;
}

.ul-pic2 li .txt h4 {
    font-size: 15px;
    margin-bottom: 15px;
    color: #484848;
}

.ul-pic2 li .txt p {
    font-size: 14px;
    font-family: "Arial";
    color: #aaa;
}

.ul-pic2 li .txt em {
    display: inline-block;
    padding-left: 28px;
    background: url(../images/ico-yan.png) no-repeat left center;
    margin-left: 25px;
}

.ul-pic2 li a:hover .txt {
    background-color: #055219;
}

.ul-pic2 li a:hover .txt h4 {
    color: #fff;
}

.ul-pic2 li a:hover .txt p {
    color: #fff;
}

.ul-pic2 .slick-dots {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -40px;
    text-align: center;
}

.ul-pic2 .slick-dots li {
    width: 16px;
    height: 16px;
    margin: 0 3px;
    display: inline-block;
    float: none;
}

.ul-pic2 .slick-dots li button {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    padding: 0;
    background: #fff;
    outline: none;
    border: none;
    font-size: 0;
    line-height: 0;
}

.ul-pic2 .slick-dots li.slick-active button {
    background: #055219;
}

.m-management {
    padding-bottom: 150px;
}

.ul-team li {
    overflow: hidden;
}

.ul-team li .pic {
    float: left;
    width: 50%;
    height: 465px;
    position: relative;
    overflow: hidden;
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    transition: .3s;
}

.ul-team li .pic img {
    max-width: 10000px;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.ul-team li .pic:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    transform-origin: 50% 50%;
}

.ul-team li .txt {
    float: right;
    width: 50%;
    background-color: #404f58;
    height: 465px;
    font-size: 14px;
    color: #fff;
    padding: 55px 55px 0 55px;
    position: relative;
    z-index: 99;
}

.ul-team li .txt h4 {
    margin-bottom: 30px;
}

.ul-team li .txt h4 b {
    font-size: 30px;
    font-weight: normal;
}

.ul-team li .txt p {
    line-height: 1.8;
}

.ul-team li .more {
    margin-top: 30px;
}

.ul-team li .more a {
    font-size: 14px;
    color: #fff;
}

.ul-team li .more a span {
    font-family: "Arial";
    opacity: 0.32;
}

.ul-team li .more a:hover span {
    opacity: 1;
}


/*=====关于大亚=====*/


/*公用标题*/

#bd {
    position: relative;
    z-index: 22;
}

.in-tit {
    font-size: 36px;
    height: 119px;
    margin-top: -119px;
    z-index: 22;
    padding-top: 15px;
    line-height: 1.1;
}

.in-tit .wp {
    position: relative;
    height: 100%;
}

.in-tit strong {
    color: #fff;
    font-weight: normal;
}

.in-tit span {
    font-size: 30px;
    opacity: 0.5;
    font-family: "Arial";
    text-transform: uppercase;
    color: #fff;
}

.in-tit i {
    display: block;
    width: 390px;
    border-bottom: 10px solid #fff;
    position: absolute;
    left: 0;
    bottom: 0;
}

#video {
    height: calc(100% - 88px);
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.video-txt {
    position: absolute;
    left: 0;
    top: 50%;
    height: 310px;
    margin-top: -155px;
    text-align: center;
    width: 100%;
}

.video-txt p {
    font-size: 26px;
    color: #fff;
    font-weight: bold;
    line-height: 2.2;
    letter-spacing: 5px;
}

.video-play {
    display: inline-block;
    padding-top: 125px;
    background: url(../images/ico-play.png) no-repeat center top;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-family: "Arial";
    margin-top: 60px;
}

.video-play:hover {
    color: #fff;
    opacity: 0.8;
}

.video-con {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.video-close {
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
    height: 60px;
    display: none;
}

.video-close a {
    display: block;
    width: 60px;
    height: 60px;
    background: url(../images/icon_btn.png) no-repeat center center;
}

.g-txt1 {
    font-size: 14px;
    padding: 80px 0;
}

.g-txt1 p {
    line-height: 2;
    letter-spacing: 1.5px;
}

.g-txt2 {
    text-align: center;
    padding-bottom: 60px;
}

.g-txt2 p {
    font-size: 24px;
    color: #fff;
}

.showtxt {
    padding: 50px 0;
    background-color: #415058;
    overflow: hidden;
    display: none;
}

.showtxt p {
    color: #fff;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 1.5px;
}

.m-honor {
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    overflow: hidden;
    padding-bottom: 147px;
    position: relative;
}

.ul-txt1 {
    margin-left: -55px;
}

.ul-txt1 li {
    float: left;
    width: 50%;
    margin-bottom: 40px;
}

.ul-txt1 li .box {
    margin-left: 55px;
    background: #415058;
    color: #fff;
    overflow: hidden;
    height: 100px;
}

.ul-txt1 li .pic {
    width: 137px;
    float: left;
    line-height: 100px;
}

.ul-txt1 li .pic img {
    vertical-align: middle;
    margin-left: 45px;
}

.ul-txt1 li .txt {
    padding: 25px 0 0 137px;
}

.ul-txt1 li .txt h4 {
    font-size: 14px;
    margin-bottom: 10px;
}

.ul-txt1 li .txt p {
    font-size: 14px;
    color: #869ba7;
}

.jt-down {
    position: absolute;
    left: 0;
    bottom: 100px;
    width: 100%;
    text-align: center;
}

.jt-down span {
    display: inline-block;
    width: 33px;
    height: 28px;
    background: url(../images/jt-down.png) no-repeat left top;
    cursor: pointer;
}

.jt-up {
    position: absolute;
    left: 0;
    bottom: 140px;
    width: 100%;
    text-align: center;
}

.jt-up span {
    display: inline-block;
    width: 33px;
    height: 28px;
    background: url(../images/jt-up.png) no-repeat left top;
    cursor: pointer;
}


/*=====产业运营=====*/

.g-txt3 {
    padding: 55px 0 0 0;
}

.g-txt3 p {
    font-size: 14px;
    letter-spacing: 1.5px;
    color: #fff;
    line-height: 2;
}

.m-transformation {
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    overflow: hidden;
    position: relative;
    min-height: calc(100% - 88px);
    /*display: table;*/
    width: 100%;
    background-attachment: fixed;
    padding: 100px 0;
}

.m-transformation .table-cell {
    /*display: table-cell;vertical-align: middle;*/
    width: 100%;
}

.m-transformation .tit {
    color: #fff;
}

.m-transformation .tit span {
    display: block;
    width: 300px;
    height: 92px;
    text-transform: uppercase;
    font-size: 18px;
    margin: 0 auto;
}

.m-transformation .tit img {
    float: left;
    margin-right: 50px;
}

.m-transformation .tit em {
    float: left;
    width: 150px;
}

.m-transformation .tit b {
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 5px;
    font-family: "微軟正黑體", "Microsoft JhengHei";
}

.m-transformation .tit i {
    display: block;
    width: 150px;
    border-bottom: 1px solid #fff;
    margin: 6px 0;
}

.ul-pic3 {
    padding-top: 55px;
}

.ul-pic3 li {
    float: left;
    width: 25%;
}

.ul-pic3 li span {
    display: block;
    padding-top: 75.7%;
    position: relative;
}

.ul-pic3 li span img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.ul-pic3 li a:hover img {
    opacity: 1;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity= 100)';
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
}


/*******************************
    -------[=桔子]-------
********************************/


/*3-1新闻中心-列表*/

.layout {
    /*padding-top: 63px;*/
    margin-top: 63px;
    overflow: hidden;
}

.ul-txt-j1 {
    margin-bottom: 61px;
    overflow: hidden;
    border-left: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
}

.ul-txt-j1 li {
    margin-bottom: -1px;
    /* float: left; */
    display: inline-block;
    margin: 0 30px;
}



@media screen and (max-width: 1599px) {
    .ul-txt-j1 li {
        /*让它一行展示三列*/
        width: 30%;
        margin-top: 10px!important;
        margin-left: 10px;
        margin-right: 10px;
    }
}
@media screen and (max-width: 767px) {
    .ul-txt-j1 li {
        margin: 0 10px;
        /*让它一行展示两列*/
        width: 48%;
    }
}

@media screen and (min-width: 1600px) {
    .ul-txt-j1 li {
        /*让它一行展示三列*/
        width: 20%;
        margin-top: 10px!important;
    }
}

.ul-txt-j1 a {
    padding: 0 50px;
    height: 48px;
    line-height: 48px;
    display: block;
    text-align: center;
    border-left: none;
    font-size: 18px;
    color: #000;
    background-color: #90efa8;
}

.ul-txt-j1 li:first-of-type a {
    border-right: 1px solid #dcdcdc;
}

.ul-txt-j1 a:hover,
.ul-txt-j1 .on a {
    background-color: #055219;
    color: #fff;
}

.ul-pic-j1 {
    overflow: hidden;
    margin: 0 -22px;
    min-height: 360px;
}

.ul-pic-j1 li {
    margin-bottom: 50px;
    float: left;
    width: 33.333%;
}

.ul-pic-j1 .box {
    text-align: center;
    margin: 0 22px;
}


/*.ul-pic-j1 .box a{
    display: block;
}*/

.ul-pic-j1 .img {
    padding-top: 70%;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 0;
}

.ul-pic-j1 .img img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}


.ul-pic-j1 .img:hover img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    transform-origin: 50% 50%;
}

.ul-pic-j1 h5 {
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 60px;
    font-size: 15px;
    color: #484848;
    padding: 0 5px;
}

.ul-pic-j1 em {
    font-size: 14px;
    color: #aaa;
}

.ul-pic-j1 span {
    font-size: 14px;
    color: #aaa;
    margin-left: 24px;
    padding-left: 26px;
    background: url(../images/ico-j1.png) no-repeat left center;
}

.ul-pic-j1 .txt {
    border: 1px solid #e4e4e3;
    padding-bottom: 33px;
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    transition: .3s;
}

.ul-pic-j1 li:hover .txt {
    background-color: #055219;
}

.ul-pic-j1 li:hover h5 a,
.ul-pic-j1 li:hover em,
.ul-pic-j1 li:hover span {
    color: #fff;
}

.page {
    margin-bottom: 30px;
}

.page li {
    display: inline-block;
    vertical-align: top;
}

.page a {
    display: block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    background-color: #eee;
    border: 1px solid #eee;
}

.page .prev {
    background: url(../images/prev.png) no-repeat center center;
}

.page .next {
    background: url(../images/next.png) no-repeat center center;
}

.page a:hover,
.page .on a {
    background-color: #055219;
    color: #fff;
}


/*3-2新闻中心-详情*/

.tit-j1 {
    text-align: center;
    border-bottom: 1px solid #dcdcdc;
    padding-bottom: 24px;
}

.tit-j1 h2 {
    font-size: 30px;
    color: #000101;
    margin-bottom: 14px;
    overflow: hidden;
}

.tit-j1 span {
    display: inline-block;
    font-size: 14px;
    color: #aaa;
}

.tit-j1 em {
    color: #aaa;
    font-size: 14px;
    margin-left: 24px;
    padding-left: 26px;
    background: url(../images/ico-j1.png) no-repeat left center;
}

.txt-j2 {
    padding-top: 40px;
    padding-bottom: 105px;
}

.txt-j2 h4 {
    text-indent: 2em;
    padding-top: 20px;
    font-weight: bold;
    font-size: 14px;
    color: #000;
    margin-bottom: 5px;
}

.txt-j2 p {
    text-indent: 2em;
    font-size: 14px;
    color: #686868;
    line-height: 30px;
}

.txt-j2 .img {
    overflow: hidden;
    padding: 28px 0;
}

.txt-j2 li {
    float: left;
    width: 25%;
}

.txt-j2 li .pic {
    padding-top: 76%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}


/*6-2加入大亚-社会招聘*/

.layout2 {
    overflow: visible;
}

.table {
    margin-bottom: 80px;
    padding-top: 97px;
}

.table table {
    width: 100%;
}

.table th {
    width: 20%;
    font-size: 18px;
    color: #f2f2f2;
    text-align: center;
    background-color: #415058;
    height: 55px;
}

.table td {
    height: 55px;
    text-align: center;
    font-size: 14px;
    color: #484848;
    border: 1px solid #dededd;
}

.table a {
    color: #055219;
    text-decoration: underline;
}


/*
.pop{
    max-width: 1300px;
    display: none;
    z-index: 23;
    width: 70%;
    background-color: #fff;
    position: fixed;
    top: 113px;
    left: 0;
    margin:0 15%;
    padding: 40px;
    height: 68%;
}
.pop strong{
    color: #055219;
    font-size: 24px;
    margin-left: 15px;
}
.pop h5{
    font-size: 18px;
    margin: 20px 0 20px;
    color: #000;
}
.pop li{
    font-size: 14px;
    list-style: disc;
    margin-left: 15px;
}
.pop .icon_btn{
    background: url(../images/icon_btn.png) no-repeat center center;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}
.pop .icon_btn:hover{
    background: url(../images/icon_btn-h.png) no-repeat center center;
    background-color: #055219;
}
.pop .send{position: absolute;left:40px;bottom:40px;font-size: 18px;color: #000;}
.pop-bg{
    display: none;
    z-index: 22;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
        
}*/


/*6-3加入大亚-校园招聘*/

.ul-txt-j2 {
    margin-bottom: 0;
    overflow: hidden;
}

.txt-j3 {
    padding-top: 90px;
    margin-bottom: 55px;
}

.tit-j2 {
    text-align: center;
    font-size: 30px;
    color: #010000;
    margin-bottom: 32px;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}

.txt-j3 p {
    font-size: 14px;
    line-height: 30px;
    color: #686868;
}

.table2 th,
.table2 td,
.table3 th,
.table3 td {
    padding-left: 27px;
    width: auto;
    text-align: left;
}

.tit-j4 {
    font-size: 24px;
    color: #000;
    text-align: center;
}

.table2,
.table3 {
    padding-top: 38px;
}

.txt-j4 h5 {
    font-size: 18px;
    color: #000;
}

.txt-j4 p {
    font-size: 14px;
    line-height: 30px;
    color: #686868;
}


/*******************************
    -------[=榴莲]-------
********************************/


/* 企业文化 */

.ul-m1-l {
    padding: 90px 0 60px;
}

.ul-m1-l ul {
    overflow: hidden;
    margin-left: -17px;
}

.ul-m1-l li {
    float: left;
    margin-bottom: 40px;
    width: 33.3%;
}

.ul-m1-l li .box {
    margin-left: 17px;
    overflow: hidden;
    height: 198px;
    background: url(../images/l-bg1.jpg);
}

.ul-m1-l li .img {
    float: left;
    margin: 27px 0 0 32px;
    width: 65px;
    height: 65px;
    background-repeat: no-repeat;
    background-position: center;
}

.ul-m1-l li .txt {
    padding: 21px 10px 0 135px;
}

.ul-m1-l li .txt2 em {
    min-width: 145px;
    margin-left: 0;
    padding-right: 10px;
}

.ul-m1-l li h3 {
    margin-bottom: 9px;
    font-size: 18px;
    color: #000;
}

.ul-m1-l li p {
    font-size: 14px;
    line-height: 30px;
    color: #686868;
}

.ul-m1-l li em {
    display: inline-block;
    margin-left: 12px;
}

.ul-img-l ul {
    overflow: hidden;
}

.ul-img-l li {
    float: left;
    width: 25%;
}

.ul-img-l li .img {
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-position: center;
    padding-top: 82%;
}


/*.ul-img-l li .img a{display: block;
    }
.ul-img-l li:hover .img{opacity: .9;} */


/* 发展历程 */

.l-History {
    padding: 100px 0;
}

.l-History .wp {
    padding: 42px 0 25px;
    position: relative;
}

.l-History ul {
    padding-right: 78px;
}

.l-History ul .line {
    position: absolute;
    left: 231px;
    top: 0;
    width: 1px;
    height: 100%;
    background: #055219;
    z-index: 1;
}

.l-History li {
    position: relative;
    margin-bottom: 56px;
    z-index: 2;
}

.l-History ul .line:after {
    display: none;
}

.l-History li:after {
    content: '';
    position: absolute;
    left: 220px;
    top: 3px;
    z-index: 9;
    width: 12px;
    height: 12px;
    border: 5px solid #055219;
    border-radius: 50%;
    background: #fff;
}

.l-History .date {
    float: left;
    width: 177px;
    text-align: right;
    font-size: 18px;
    font-weight: bold;
    color: #055219;
}

.l-History .txt {
    padding-left: 275px;
}

.l-History h3 {
    padding-bottom: 17px;
    font-size: 18px;
    color: #000;
}

.l-History p {
    color: #686868;
    font-size: 14px;
    line-height: 30px;
}

.l-History dl {
    overflow: hidden;
    margin-left: -20px;
}

.l-History dd {
    float: left;
    margin-top: 20px;
    width: 25%;
}

.l-History dd .box {
    margin-left: 20px;
}

.l-History dd .item {
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding-top: 75%;
}


/* 经营团队 */

.l-management {
    padding: 52px 0 107px;
}

.l-management .hd h3 {
    color: #000;
}

.l-management .hd strong {
    font-weight: normal;
    font-size: 30px;
}

.l-management .hd em {
    display: inline-block;
    margin-left: 10px;
    font-size: 14px;
}

.l-management .hd p {
    margin-top: 15px;
    font-size: 14px;
    line-height: 30px;
    color: #686868;
}

.list-ul-l ul {
    overflow: hidden;
    margin-left: -20px;
    padding-top: 68px;
    padding-right: 3px;
}

.list-ul-l li {
    float: left;
    margin-bottom: 17px;
    width: 50%;
}

.list-ul-l li .box {
    margin-left: 20px;
    padding: 13px;
    border: 1px solid #e4e4e3;
    overflow: hidden;
    box-shadow: 0px 0px 5px 3px #e4e4e3;
}

.list-ul-l li .img {
    float: left;
    width: 216px;
    height: 216px;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.list-ul-l li .img:hover {
    opacity: .8;
}

.list-ul-l li .img a {
    display: block;
    height: 100%;
}

.list-ul-l li .txt {
    padding-left: 238px;
}

.list-ul-l li h3 {
    font-size: 24px;
    color: #686868;
}

.list-ul-l li p {
    font-size: 14px;
    line-height: 28px;
    height: 170px;
    overflow: hidden;
}


/* 圣象 */

.l-slide {
    position: relative;
    padding: 69px 0 80px 287px;
    background-repeat: no-repeat;
    background-position: left center;
}

.l-slide2 {
    padding-bottom: 60px;
    background-position: left 14%;
}

.l-slide * {
    outline: none;
}

.l-slide p {
    font-size: 14px;
    line-height: 30px;
}

.l-slide .txt {
    margin-bottom: 31px;
    overflow: hidden;
}

.l-slide .dots ul,
.l-slide .dots dl,
.l-slide .dots dd {
    display: inline-block;
}

.l-slide .dots li {
    display: inline-block;
    margin-right: 6px;
    cursor: pointer;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #d9d9d9;
    vertical-align: middle;
}

.l-slide .dots li.on {
    background: #055219;
}

.l-slide .dots dd {
    width: 9px;
    height: 17px;
    cursor: pointer;
    vertical-align: middle;
}

.l-slide .dots .prev {
    background: url(../images/l-prev.png) no-repeat center;
    margin-right: 5px;
}

.l-slide .dots .next {
    background: url(../images/l-next.png) no-repeat center;
}

.l-slide .slick-dots {
    display: none !important;
}

.l-slide .slick-arrow {
    display: none !important;
}


/* .ul-imgtxt-l */

.ul-imgtxt-l {
    overflow: hidden;
}

.ul-imgtxt-l li {
    overflow: hidden;
    height: 525px;
    background: #415058;
}

.ul-imgtxt-l .box {
    width: 50%;
    height: 100%;
}

.ul-imgtxt-l .img {
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.ul-imgtxt-l .txt {
    padding: 0 20px;
    width: 650px;
    color: #fff;
    height: 525px;
    text-align: center;
    margin: 0 auto;
    float: none !important;
}

.ul-imgtxt-l .item {
    height: 100%;
    display: table;
    width: 100%;
}

.ul-imgtxt-l .item div {
    display: table-cell;
    vertical-align: middle;
}

.ul-imgtxt-l h3 {
    margin-bottom: 37px;
    padding-top: 120px;
    font-size: 30px;
    font-weight: normal;
    background-position: center top;
    background-repeat: no-repeat;
}

.ul-imgtxt-l p {
    font-size: 14px;
    line-height: 30px;
}


/* 置业 */

.ban-l {
    height: calc(50%);
    width: 100%;
    position: relative;
}

.ban-l div {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100%;
}

.ban-ls {
    height: calc(40%);
}

.ban-ls div {
    background-position: center bottom;
}

.m-transformation2 {
    display: block;
}

.m-transformation2 .wp {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
}

.ul-pic1 {
    overflow: hidden;
}


/* 2016/5/11 */

.pop {
    max-width: 1300px;
    display: none;
    z-index: 23;
    width: 70%;
    background-color: #fff;
    position: fixed;
    top: 113px;
    left: 0;
    margin: 0 15%;
    padding: 40px;
    height: 68%;
}

.pop p {
    font-size: 14px;
}

.box-pop {
    font-size: 14px;
}

.box-pop p {
    line-height: 2;
    margin-bottom: 20px;
}

.box-pop strong {
    color: #055219;
    font-size: 24px;
    margin-bottom: 30px;
    display: block;
}

.box-pop h5 {
    font-size: 18px;
    margin: 20px 0 20px;
    color: #000;
}

.box-pop li {
    font-size: 14px;
    list-style: disc;
    margin-left: 15px;
}

#op1 .icon_btn {
    background: url(../images/icon_btn.png) no-repeat center center;
    background-color: #fff;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    z-index: 99;
}

#op1 .icon_btn:hover {
    background: url(../images/icon_btn-h.png) no-repeat center center;
    background-color: #055219;
}

.box-pop {
    margin: 10px 0;
    padding: 20px;
    height: 450px;
    overflow: auto;
}

.box-pop .send {
    position: absolute;
    left: 40px;
    bottom: 40px;
    font-size: 18px;
    color: #000;
}

.pop-bg {
    display: none;
    z-index: 22;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
}

#op1 {
    position: fixed;
    width: 1200px;
    height: 535px;
    top: 50%;
    left: 50%;
    margin: -267px 0 0 -600px;
    z-index: 9999;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .35);
    -o-transition: .4s;
    -ms-transition: .4s;
    -moz-transition: .4s;
    -webkit-transition: .4s;
    transition: .4s;
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0;
    transform-origin: 50% 50%;
}

#op1.ani {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    transform-origin: 50% 50%;
}

#op1 iframe {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 2;
}

.box-pop .send {
    bottom: 20px;
    left: 20px;
}

.txt-j4 {
    margin-bottom: 50px;
}

.box-pop::-webkit-scrollbar {
    width: 5px;
    height: 1px;
}


/* 两端按钮*/

.box-pop::-webkit-scrollbar-button {
    display: none;
}


/*滚动条轨道背景颜色*/

.box-pop::-webkit-scrollbar-track-piece {
    background: #96bbcf;
}


/*滚动条样式*/

.box-pop::-webkit-scrollbar-thumb {
    background: #005a8a;
}

.m-transformation .tit em {
    font-family: "Arial";
}

.mobile .video-txt {
    height: 70px;
    margin-top: -35px;
}

@media screen and (max-width: 768px) {
    .ul-pic-j1 .img img {
        position: absolute;
        left: 0;
        top: 0;
        width: calc(100% - 30px);
        height: 100%;
        margin: 0 15px ;
    }

    .ul-pic-j1 .txt{
        width: calc(100% - 20px);
        margin: 0 10px;
        border-left: none;
        border-right: none;
        border-bottom: none;
    }
}