.srceen-2 {
	position: relative;
}

.screen-2-left {
	width: 60%;
	position: absolute;
	left: 0px;
	z-index: 3;
	background-image: url(../images/banner/6.jpg);
	 background-repeat:no-repeat;
                background-size:100% 100%;
                -moz-background-size:100% 100%;
}

.screen-2-left .bg {
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, .7);
}

.screen-2-right {
	width: 60%;
	position: absolute;
	right: 0px;
	z-index: 4;
	background-color: #FFFFFF;
	padding-top: 200px;
	padding-left: 100px;
	padding-right: 100px;
}

.screen-2-right-main {
	width: 100%;
}

.screen-2-right-main p{
	line-height: 25px;
	margin: 15px 0;
}

.screen2-title {
	font-size: 60px;
	font-weight: 600;
}

.screen2-little-title {
	margin-top: 10px;
	font-size: 26px;
	display: inline-block;
}

.screen2-little-title:after {
	content: "";
	width: 10px;
	height: 10px;
	display: inline-block;
	background-color: #dab866;
	border-radius: 50%;
	margin: 0 20px;
}

.screen-2-right-main span {
	font-size: 20px;
	margin-left: 10px;
}

.screen2-description {
	margin-top: 20px;
	font-size: 16px;
	line-height: 35px;
	text-indent: 2em;
	padding-bottom: 100px;
}

.screen-2-more {
	width: 80px;
	height: 30px;
	color: #FFFFFF;
	border-radius: 4px;
	line-height: 30px;
	background-color: rgb(126, 203, 40);
	cursor: pointer;
	display: inline-block;
    text-align: center;
	text-indent:0px;

}

.screen-2-more:hover {
	background-color: rgb(78, 123, 27);
}

.screen-2-center {
	position: absolute;
	width: 100%;
	height: 200px;
	/* background-color: #09c7c7; */
	z-index: 5;
	bottom: 100px;
	background: linear-gradient(to right, rgba(45, 45, 45, 0.5) 38%, rgba(104, 161, 40, 1) 38%);
}

.screen-2-center-ul {
	text-align: center;
	width: 100%;
	height: 100%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.screen-2-center-ul li {
	width: 30%;
	/* height: 100%; */
}

.screen-2-center-ul li p {
	font-size: 50px;
	font-family: fantasy;
	color: #FFFFFF;
}

.screen-2-center-ul li span {
	font-size: 18px;
	font-family: fantasy;
	color: #FFFFFF;
}

.screen-5-opacity {
	/* position: absolute; */
	top: 400vh;
}

.screen-5-opacity {
	/* top: 0px; */
}
.screen5-product-name{
	white-space: nowrap;
	display: inline-block;
	overflow: hidden;
	padding: 0 2px;
	width: 100%;
}

.srceen-6 {
	position: relative;
}

.screen-6-opacity {
	position: absolute;
	top: 0px;
	width: 100%;
	display: flex;
	/* align-items: center; */
	justify-content: center;
	/* background-color: rgba(62, 56, 56, 0.5); */
}

.srecen6-content {
	width: 100%;
	padding-top: 105px;
	text-align: center;
}

.srecen6-title {
	padding-bottom: 40px;
}

.screen-6-img {
	width: 800px;
}

#area-select {
	padding-top: 30px;
	padding-bottom: 10px;
	width: 100%;
	background-color: #fff;
	text-align: center;
	text-align: -webkit-center;
	border-bottom: 30px solid;
	border-image: -webkit-linear-gradient(#FFFFFF, #ececec, #d6d2d2) 500 1;
}

.area-lists {
	max-width: 1400px;
	display: flex;
	margin: 0;
	background-color: #fff;
	color: #000000;
	cursor: pointer;
	padding-bottom: 35px;
}

.area-lists>li {
	text-align: left;
	flex-grow: 1;
	font-size: 17px;
	font-weight: 600;
	/* display: inline-block; */
}

.area-lists li i {
	width: 15px;
	height: 15px;
	margin-left: 10px;
	display: inline-block;
	background: url(../img/jiantou.png) no-repeat;
	background-size: cover;
	vertical-align: middle;
}

.area-lists>li:hover {
	color: #ffa500;
}

.area-on {
	color: #ffa500;
}

.area-lists>li:hover i {
	background: url(../img/jiantou-active.png) no-repeat;
	background-size: cover;
}

i.icon-active {
	background: url(../img/jiantou-active.png) no-repeat!important;
	background-size: cover!important;
}

.area-country-lists {
	max-width: 1400px;
	margin: 0;
	display: flex;
	background-color: #fff;
	color: #000000;
	cursor: pointer;
	display: none;
}

.country-on {
	display: flex;
	flex-wrap:wrap;
}

.country-li-on {
	color: #ffa500;
}

.area-country-lists li {
	text-align: left;
	padding: 10px 40px 5px 0;
	font-size: 15px;
}

.area-country-lists li:hover {
	color: #ffa500;
}

#area-contact {
	margin-top: 100px;
}

#area-content {
	width: 650px;
	padding: 60px 40px;
	margin: auto;
	display: inline-flex;
	background-color: rgba(74, 72, 72, 0.28);
	border-radius: 10px;
}

.left-logo img {
	width: 250px;
}

.contact-info p {
	font-weight: normal;
	font-size: 15px;
	text-align: left;
}
.screen-2-center {

	    bottom: 1%;
	}
@media only screen and (min-width: 641px) and (max-width: 1280px) {
	.screen-2-right{
	   	padding: 140px 60px;
	}
	.screen2-title{font-size: 40px;}
	.screen2-description{margin-top: 10px; font-size:16px;line-height: 30px;}
	.screen-2-center {
	    height: 150px;
	    bottom: 1%;
	}
	.screen-2-center-ul li p{font-size: 40px;}
	.screen3-product{margin-top: 140px;width: 620px;}
	.screen3-product li img{width: 145px;height: 140px;min-width: auto;}

	.srecen5-content{padding-top: 15%;}
	.screen5-product{width: 90%; margin: 60px auto;}
	.screen5-product ul{display: block !important;width: 100%;}
	.screen5-product ul li{width: 25%;padding: 10px 16px; float: left;display: block;box-sizing: border-box;margin: 0;}
	.screen5-product ul li img {
	    width: 100%;
	    height: auto;
	}
	#area-select{padding: 20px 30px 0;}
	.area-country-lists li{padding: 20px 40px 10px 0;}
	#area-contact{margin-top: 60px;}
}
@media only screen and (min-width: 100px) and (max-width: 640px) {
	.screen2-description{margin-top: 10px; font-size:14px;line-height: 26px;}
	.contact-info p{font-size: 13px;font-weight: normal;margin-bottom:5px;}
	#area-select{
		padding-top: 10px;
	}
	.area-country-lists li{font-size: 14px;}
	.area-lists>li{font-size: 14px;line-height: 28px;}
	.screen-2-center-ul{padding-left: 0px;}
}