<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" data-rule="required" class="form-control" name="row[name]" type="text">
        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Attribute')}:</label>
        <div class="col-xs-3 col-sm-2">
            <input id="c-attribute-name" class="form-control" name="row[attribute-name][]" type="text" value="" placeholder="{:__('Attribute name')}">
        </div>
        <div class="col-xs-7 col-sm-5">
            <input id="c-attribute-value" class="form-control" name="row[attribute-value][]" type="text" value="" placeholder="{:__('Attribute value')}">
        </div>
        <div class="col-xs-2 col-sm-2">
            <button type="button" class="btn btn-warning add-attribute" >{:__('Add')}</button>
            <button type="button" class="btn btn-danger del-attribute" >{:__('Del')}</button>
        </div>
    </div>



    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
