<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Type')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-type" class="form-control selectpicker" name="row[type]">
                {foreach name="typeList" item="vo"}
                    <option value="{$key}" {in name="key" value="1"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('beforeLanguage')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-beforeLanguage" data-rule="required" data-source="language/language/index" class="form-control selectpage" data-field="language_name" data-primary-key="language_id" name="row[beforeLanguage]" type="text" value="">
        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('afterLanguage')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-afterLanguage" data-rule="required" data-source="language/language/index" class="form-control selectpage"  data-field="language_name" data-primary-key="language_id" name="row[afterLanguage]" type="text" value="">
        </div>
    </div>






    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Is_copy_type')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-is_copy_type" class="form-control selectpicker" name="row[isCopyType]">
                {foreach name="isCopyTypeList" item="vo"}
                    <option value="{$key}" {in name="key" value="1"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
