<!-- 手机导航 -->
<ul class="menu-ul-nav">
    <li class="search">
        <form name="formsearch" action="/e/search.php">
            <input type="hidden" name="kwtype" value="0">
            <input name="q" type="text" class="txt" value="输入搜索内容" onfocus="this.value=&#39;&#39;" onblur="if(this.value==&#39;&#39;){this.value=&#39;输入搜索内容&#39;}" autocomplete="off">
            <input type="hidden" name="searchtype" value="titlekeyword">
        </form>
    </li>
    <li> <a href="/">首 页</a> </li>

    <li catid="1"> <a href2="/about/introduction/" class="b1" href="javascript:void(0);">关于大亚</a>
        <dl class="in-link">
            <dd><a href="/about/introduction/">集团介绍</a></dd>
            <dd><a href="/about/team/">经营团队</a></dd>
            <dd><a href="/about/history/">发展历程</a></dd>
            <dd><a href="/about/culture/">企业文化</a></dd>
        </dl>
    </li>

    <li catid="6"> <a href2="/news/" class="b1" href="javascript:void(0);">新闻中心</a>
        <dl class="in-link">
            <dd><a href="/news/company/">公司新闻</a></dd>
            <dd><a href="/news/industry/">行业动态</a></dd>
            <dd><a href="/news/innovation/">创新专题</a></dd>
        </dl>
    </li>

    <li catid="10"> <a href2="/industryi/bedding/" class="b1" href="javascript:void(0);">产业板块</a>
        <dl class="in-link">
            <dd><a href="/industryi/bedding/">家居产业</a></dd>
            <dd><a href="/industryi/packing/">包装产业</a></dd>
            <dd><a href="/industryi/auto_parts/">汽配产业</a></dd>
            <dd><a href="/industryi/transformation/">转型产业</a></dd>
        </dl>
    </li>

    <li catid="15"> <a href2="/brand/powerdekor/" class="b1" href="javascript:void(0);">品牌家族</a>
        <dl class="in-link">
            <dd><a href="/brand/powerdekor/">圣象</a></dd>
            <dd><a href="/brand/man_made_boa/">大亚人造板</a></dd>
            <dd><a href="/brand/aluminum/">大亚包装</a></dd>
            <dd><a href="/brand/wheel/">大亚车轮</a></dd>
            <dd><a href="/brand/real_estate/">大亚置业</a></dd>
        </dl>
    </li>

    <li catid="21"> <a href2="/jionus/talent/" class="b1" href="javascript:void(0);">加入大亚</a>
        <dl class="in-link">
            <dd><a href="/jionus/talent/">人才观</a></dd>
            <dd><a href="/jionus/social_recruitment/">社会招聘</a></dd>
            <dd><a href="/jionus/campus_recruitment/">校园招聘</a></dd>
        </dl>
    </li>

    <li catid="27"> <a href2="/publicity/bidding/" class="b1" href="javascript:void(0);">信息公布</a>
        <dl class="in-link">
            <dd><a href="/publicity/bidding/">招投标信息</a></dd>
        </dl>
    </li>

    <li class="lag"><a href="/en">English</a></li>
</ul>
<!-- 手机导航 end-->