<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="indexNavigationGroup" id="classification">
                <div class="navigationBox">
                    <div class="titleBar">
                        <h1>导航栏目</h1>
                        <span></span>
                    </div>
                    <div class="list">
                        <ul id="firstpane">
                            <li><a class='' href='product.html'>产品分类1</a><span>+</span>
                                <ul>
                                    <li><a class='' href='product.html'>产品子分类1</a><ul></ul></li>
                                    <li><a class='' href='product.html'>产品子分类2</a><ul></ul></li>
                                </ul>
                            </li>
                            <li><a class='' href='product.html'>产品分类2</a></li>
                            <li><a class='' href='product.html'>产品分类3</a></li>
                            <li><a class='' href='product.html'>产品分类4</a></li>
                            <li><a class='' href='product.html'>产品分类5</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>