<meta charset="utf-8">
<!--<title>{$title|default=''} – {:__('The fastest framework based on ThinkPHP5 and Bootstrap')}</title>-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="renderer" content="webkit">
<meta name="applicable-device" content="pc,mobile" />



{if isset($keywords)}
<meta name="keywords" content="{$keywords}">
{/if}
{if isset($description)}
<meta name="description" content="{$description}">
{/if}

<!--网站的小图标-->
<link rel="shortcut icon" href="{$webBaisc.favicon|default='__CDN__/assets/img/favicon.ico'}" />

<!--<link href="__CDN__/assets/css/frontend{$Think.config.app_debug?'':'.min'}.css?v={$Think.config.site.version}" rel="stylesheet">-->
<link href="__CDN__/index/css/bootstrap.css" rel="stylesheet" />
<link href="__CDN__/index/css/style.css" rel="stylesheet" />
<script src="__CDN__/index/js/jquery.min.js" type="text/javascript"></script>
<script src="__CDN__/index/js/bootstrap.js" type="text/javascript"></script>

<!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
<!--[if lt IE 9]>
  <script src="__CDN__/assets/js/html5shiv.js"></script>
  <script src="__CDN__/assets/js/respond.min.js"></script>
<![endif]-->
<script type="text/javascript">
    var require = {
        config: {$config|json_encode}
    };
</script>

<style>
    .ar-text{
        direction: rtl;
    }
    .align-right{
        text-align: right!important;
    }
    .ar-margin{
        margin-right: 0px;
        margin-left: -15px;
    }
    .ar-padding{
        padding-left: 0px;
        padding-left: 60px;
    }


</style>