<header class="main-menu">
    <nav class="navbar navbar-static-top navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="logo" href="index.html"><img src="{$webBasic.logo|default='__CDN__/index/images/logo.png'}"></a>
                <div class="navbar_rightbox">
                    <select class="form-control" id="mobile-language">
                        <option value="0">{:__('Select language')}</option>
                        {foreach $languageList as $k => $v}
                            <option value="http://{$v.domain_name}" {if $languageId== $v.language_id}selected{/if}>{$v.language_name}</option>
                        {/foreach}
                    </select>
                    <button type="button" class="navbar-toggle collapsed navbarClick" >
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div>
            </div>


            <div class="language-list">
                <ul class="country-list">
                    {foreach $languageList as $k => $v}
                        <li><a href="http://{$v.domain_name}"><img src="{$v.image}" /></a></li>
                    {/foreach}
                </ul>
            </div>

            <div id="navbar" class="collapse navSelect navbar-collapse">
                <ul class="nav navbar-nav nav-menu">
                    {foreach $menuList as $k => $v}
                         <li><a href="{$v.url|default='javascript:void(0)'}">{$v.name}</a></li>
                    {/foreach}
                </ul>
            </div>


        </div>
    </nav>
</header>

<script>
    $('.navbarClick').on('click', function() {
        $('.navSelect').slideToggle();
    })

    $('#mobile-language').change(function(){
        if($(this).val() != '0'){
            window.location.href = $(this).val();
        }
    });


</script>