<style>
    .attr-status{
        display: none;
    }
</style>


<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">


    <div class="form-group">
        <label for="c-pid" class="control-label col-xs-12 col-sm-2">{:__('Pid')}:</label>
        <div class="col-xs-12 col-sm-8">

            <select id="c-pid" data-rule="required" class="form-control selectpicker" name="row[pid]">
                {foreach name="parentList" item="vo"}
                <option value="{$key}" {in name="key" value="$row.pid"}selected{/in}>{$vo.name}</option>
                {/foreach}
            </select>

        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" data-rule="required" class="form-control langAr" name="row[name]" type="text" value="{$row.name|htmlentities}">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Image')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-image" class="form-control" size="50" name="row[image]" type="text" value="{$row.image|htmlentities}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-image" class="btn btn-danger plupload" data-input-id="c-image" data-mimetype="image/gif,image/jpeg,image/png,image/jpg" data-multiple="false" data-preview-id="p-image" data-maxsize="200kb"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-image" class="btn btn-primary fachoose" data-input-id="c-image" data-mimetype="image/gif,image/jpeg,image/png,image/jpg" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-image"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-image"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Weigh')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-weigh" class="form-control langAr" name="row[weigh]" type="number" value="{$row.weigh|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Is_open')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-is_open" data-rule="required" class="form-control selectpicker" name="row[is_open]">
                {foreach name="isOpenList" item="vo"}
                    <option value="{$key}" {in name="key" value="$row.is_open"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>

    <div class="form-group hide-list">
        <label class="control-label col-xs-12 col-sm-2">{:__('Introduction')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-introduction" class="form-control langAr" rows="5" name="row[introduction]" cols="50" style="min-height: 150px;" >{$row.introduction|htmlentities}</textarea>
        </div>
    </div>

    <div class="form-group hide-list {if !empty($row['pid'])}attr-status{/if}">
        <label class="control-label col-xs-12 col-sm-2">{:__('Attribute')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-attribute" class="form-control langAr" rows="5" name="row[attribute]" cols="50" style="min-height: 130px;" placeholder="{:__('Tips')}"></textarea>
        </div>
    </div>

    {if !empty($row['attribute'])}
    {foreach $row['attribute'] as $key => $vo}
    <div class="form-group attribute-list hide-list">
        <label class="control-label col-xs-12 col-sm-2">{:__('Attribute exist')}:</label>
        <div class="col-xs-3 col-sm-2" style="display: none">
            <input id="c-is_del" class="form-control del-val" name="row[is_del][]" type="text" value="0">
        </div>
        <div class="col-xs-3 col-sm-2" style="display: none">
            <input id="c-attribute_id" class="form-control" name="row[attribute_id][]" type="text" value="{$vo.id}">
        </div>
        <div class="col-xs-8 col-sm-5">
            <input id="c-attribute_name" class="form-control langAr" name="row[attribute_name][]" type="text" value="{$vo.attribute_name}" placeholder="{:__('Attribute value')}">
        </div>
        <div class="col-xs-3 col-sm-2">
            <input id="c-sort" class="form-control langAr" name="row[sort][]" type="text" value="{$vo.weigh}" placeholder="{:__('Weigh')}">
        </div>
        <div class="col-xs-2 col-sm-2">
            <button type="button" class="btn btn-danger del-attribute" >{:__('Del')}</button>
        </div>
    </div>
    {/foreach}
    {/if}


    <div class="form-group hide-list {if !empty($row['pid'])}attr-status{/if}">
        <label class="control-label col-xs-12 col-sm-2">{:__('Color')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-color" class="form-control langAr" rows="5" name="row[color]" cols="50" style="min-height: 130px;" placeholder="{:__('Tips')}"></textarea>
        </div>
    </div>


    {if !empty($row['color'])}
    {foreach $row['color'] as $key => $vo}
    <div class="form-group attribute-list hide-list">
        <label class="control-label col-xs-12 col-sm-2">{:__('Color exist')}:</label>
        <div class="col-xs-3 col-sm-2" style="display: none">
            <input id="c-is_del_color" class="form-control del-val" name="row[is_del_color][]" type="text" value="0">
        </div>
        <div class="col-xs-3 col-sm-2" style="display: none">
            <input id="c-color_id" class="form-control langAr" name="row[color_id][]" type="text" value="{$vo.id}">
        </div>
        <div class="col-xs-8 col-sm-5">
            <input id="c-color_name" class="form-control langAr" name="row[color_name][]" type="text" value="{$vo.color_name}" placeholder="{:__('Attribute value')}">
        </div>
        <div class="col-xs-2 col-sm-2">
            <button type="button" class="btn btn-danger del-attribute" >{:__('Del')}</button>
        </div>
    </div>
    {/foreach}
    {/if}

    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
